.maketforfigma{
    flex: 0 0 auto;
    background: #313a46;
    font-weight: bold;
    display: flex;
}
.maketforfigma img{
    border-radius: 10px;
    margin: 4px 0 0 4px;
}
.maketforfigma p {
    color: #98a6ad;
    text-decoration: none;
    letter-spacing: .01875rem;
    font-size: .775rem;
    padding: 0 10px;
    line-height: 0.70rem;
}
.maketforfigma p > a {
    color: #bbe4f0;
    font-weight: bold;
}
.maketforfigma p > a:hover {
    color: #ffffff
}
.main{
    flex: 1 0 auto;
}
html{
    height: 100%;
}
body{
    display: flex;
    flex-direction: column;
    width: 1440px;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    column-rule: #fff;
}

/* Discount Offer */
.discount-offer {
    display: flex;
    height: 32px;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    background: #332B5B;;
    padding: 6.5px 542px;
}
.discount-offer-btn {
    width: 355px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
}

/* Header */
.header {
    position: absolute;
    top: 62px;
    z-index: 10;
    display: flex;
    flex-direction: column;
    width: 1440px;
    height: 115px;
    background: #1E4844;
}
.header__wrapper {
    display: flex;
    place-items: center;
    width: 1330px;
    height: 46px;
    margin: 18px 57px 18px 72px;
}
.header__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 278px;
}
.header__navbar-link {
    font-size: 16px;
    line-height: 21px;
    cursor: pointer;
    transition: all .2s ease-in;
}
.header__navbar-link:hover {
    color: #c1c400;
}
.header__navbar-link:active {
    transform: scale(.9);
}
.header__logo {
    cursor: pointer;
    margin: 0 584px 2px 310px;
}
.header__cart {
    cursor: pointer;
    transition: all .2s ease-in;
}
.header__cart:hover {
    color: #c1c400;
}
.header__cart:active {
    transform: scale(.9);
}

/* Intro */
.intro {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 836px;
    background-image: url('../img/intro_background.svg');
}
.intro__wrapper {
    display: flex;
    flex-direction: column;
    width: 429px;
    min-height: 249px;
    margin: 200px 946px 280px 65px;
}
.intro__title {
    font-size: 42px;
    line-height: 47px;
    margin-bottom: 9px;
}
.intro__text {
    width: 310px;
    font-size: 19px;
    line-height: 25px;
    margin-bottom: 25px;
}
.intro .button {
    width: 220px;
    height: 46px;
    border: 2px solid #FFFFFF;
    border-radius: 0px 50px 50px 0px;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    transition: all .2s ease-in;
}
.intro .button:hover {
    font-weight: 700;
    background: #fff;
    color: #1E4844;
}
.intro .button:active {
    transform: scale(.92);
}
.intro__icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1205px;
    height: 131px;
    margin: 0 101px 34px;
}
.intro__icon {
    /* margin: auto 0; */
    transition: transform 0.2s ease-in;
}
.intro__icon:hover {
    cursor: pointer;
    transform: scale(1.2);
}

/* Tinctures */
.tinctures {
    display: flex;
    width: 1440px;
    height: 860px;
}
.tincture {
    display: flex;
    width: 720px;
    flex-direction: column;
}
.tincture__wrapper.good-day {
    display: flex;
    flex-direction: column;
    width: 232px;
    height: 330px;
    margin: 526px 424px 64px 64px;
}
.tincture__wrapper.good-night {
    display: flex;
    flex-direction: column;
    width: 232px;
    height: 320px;
    color: #9B9AC7;
    margin: 476px 424px 60px 64px;
}
.tincture.good-day {
    background-image: url('../img/tincture_day-background.svg');
    background-repeat: no-repeat;
}
.tincture.good-night {
    background-image: url('../img/tincture_night-background.svg');
    background-repeat: no-repeat;
}
.tincture__heading {
    font-size: 23px;
    line-height: 25px;
    margin-bottom: 12px;
}
.tincture__text {
    font-size: 19px;
    line-height: 26px;
    margin-bottom: 60px;
}
.tincture .button {
    width: 232px;
    height: 43px;
    border: 2px solid #FFFFFF;
    border-radius: 0px 50px 50px 0px;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    transition: all .2s ease-in;
}
.tincture .button.day:hover {
    font-weight: 700;
    background: #fff;
    color: #d46665;
}
.tincture .button.night:hover {
    font-weight: 700;
    background: #fff;
    color: #1e0c5e;
}
.tincture .button:active {
    transform: scale(.92);
}

/* Review */
.review {
    display: flex;
    flex-direction: column;
    height: 491px;
    background: #1E4844;
}
.review__subtitle {
    width: 98px;
    height: 43px;
    font-weight: 700;
    font-size: 19px;
    line-height: 21px;
    text-align: center;
    margin: 65px auto 67px;
}
.review__title {
    height: 47px;
    font-weight: 400;
    font-size: 42px;
    line-height: 47px;
    text-align: center;
    margin: 0 auto 51px;
}
.review__text {
    width: 1178px;
    height: 103px;
    font-size: 19px;
    line-height: 26px;
    text-align: center;
    margin: 0 auto 34px;
}
.review__author {
    height: 22px;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    margin: 0 auto 59px;
}

/* Antistress */
.antistress {
    display: flex;
    height: 1050px;
    background-image: url('../img/antistress_background.svg');
}
.antistress__wrapper {
    display: flex;
    flex-direction: column;
    width: 576px;
    height: 325px;
    margin: 263px 785px 464px 64px;
}
.antistress__title {
    font-weight: 700;
    font-size: 42px;
    line-height: 47px;
    color: #FAE9D6;
    margin-bottom: 12px;
}
.antistress__description {
    display: flex;
    flex-direction: column;
    gap: 17px;
}
.antistress__text {
    font-weight: 400;
    font-size: 19px;
    line-height: 26px;
    color: #FAE9D6;
}

/* Approach */
.approach {
    display: flex;
    flex-direction: column;
    height: 908px;
    background: #9B9AC7;
}
.approach__title {
    font-weight: 700;
    font-size: 42px;
    line-height: 47px;
    text-align: center;
    color: #332B5B;
    margin: 64px auto 76px;
}
.approach__wrapper {
    display: flex;
    justify-content: space-between;
    gap: 133px;
    width: 1177px;
    height: 587px;
    margin: 0 261px 133px 128px;
}
.approach__scheme {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 526px;
    height: 325px;
}
.approach__scheme-item {
    width: 526px;
    height: 65px;
    border: 1px solid #FFFFFF;
}
@keyframes swing {
    20% {
    transform: rotate3d(0, 0, 1, 5deg);
    }
    40% {
    transform: rotate3d(0, 0, 1, -5deg);
    }
    60% {
    transform: rotate3d(0, 0, 1, 2.5deg);
    }
    80% {
    transform: rotate3d(0, 0, 1, -2.5deg);
    }
    100% {
    transform: rotate3d(0, 0, 1, 0deg);
    }
  }
.approach__scheme-item:hover {
    cursor: pointer;
    background: #DA6A66;
    border: 1px solid #FFFFFF;

    animation-duration: 1s;
    animation-fill-mode: both;
    transform-origin: center center;
    animation-name: swing;
}
.scheme-item-label {
    font-weight: 400;
    font-size: 19px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    margin: 18.5px auto;
}
.item__line {
    width: 16px;
    height: 65px;
}
.approach__description {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 515px;
    height: 588px;
}
.approach__description-pic {
    width: 263px;
    height: 369px;
    margin-bottom: 72px;
}
.approach__description-text {
    font-weight: 400;
    font-size: 19px;
    line-height: 25.5px;
    text-align: center;
    color: #332B5B;
}

/* Hemp */
.hemp {
    display: flex;
    height: 720px;
    background-image: url('../img/hemp_background.svg');
}
.hemp__wrapper {
    display: flex;
    flex-direction: column;
    width: 588px;
    height: 416px;
    margin: 158px 67px 145px 785px;
}
.hemp__title {
    font-weight: 700;
    font-size: 42px;
    line-height: 47px;
    color: #FAE9D6;
    margin-bottom: 11px;
}
.hemp__text {
    font-weight: 400;
    font-size: 19px;
    line-height: 26px;
    color: #FAE9D6;
    margin-bottom: 45px;
}
.hemp__items-block {
    display: flex;
    justify-content: space-between;
    gap: 74px;
    width: 521px;
    height: 98px;
    margin-bottom: 14px;
}
.hemp__items {
    display: flex;
    flex-direction: column;
    gap: 21px;
    font-weight: 400;
    font-size: 23px;
    line-height: 25px;
    color: #FAE9D6;
}
.hemp__item {
    width: 235px;
}
.hemp .button {
    width: 223px;
    height: 46px;
    border: 2px solid #FAE9D6;
    border-radius: 0px 50px 50px 0px;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: -0.04em;
    text-align: center;
    color: #FAE9D6;
    transition: all .2s ease-in;
}
.hemp .button:hover {
    font-weight: 700;
    background: #fff;
    color: #1e0c5e;
}
.hemp .button:active {
    transform: scale(.92);
}
.hemp .button:hover {
    background: #fff;
    color: #332b5b;
}

/* Press */
.press {
    display: flex;
    flex-direction: column;
    height: 853px;
    background-image: url('../img/press_bckg.svg');
    background-repeat: no-repeat;
    background-position: center;
}
.press__heading {
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
    color: #332B5B;
    margin: 64px auto 100px;
}
.press__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    width: 747px;
    height: 346px;
    margin: 0 346.5px 64px;
}
.press__item {
    position: relative;
    display: flex;
    place-items: center;
    width: 53px;
    height: 346px;
    border: 1px solid #1E4844;
    transition: transform .3s cubic-bezier(.2,.85,.4,1.275);
}
.press__item-wrapper {
    display: flex;
    transition: transform .3s cubic-bezier(.2,.85,.4,1.275);
}
.press__item-link {
    position: absolute;
    top: 164px;
    opacity: 0;
    min-width: 119px;
    min-height: 17px;
    font-size: 13px;
    line-height: 17px;
    text-align: center;
    text-decoration-line: underline;
    text-transform: uppercase;
    color: #1E4844;
    transform: rotate(90deg);
    transition: transform .3s cubic-bezier(.2,.85,.4,1.275);
}
.press__item-link:hover {
    font-weight: 700;
}
.press__item-name {
    margin: 1px;
    transform: translateX(10px);
    transition: transform .3s cubic-bezier(.2,.85,.4,1.275);
}
/* << hover */
.press__item:hover {
    display: flex;
    place-items: center;
    cursor: pointer;
    width: 261px;
    height: 294px;
    margin: 52px 0 0 0;
}
.press__item:hover .press__item-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 94px;
    width: 215px;
    height: 160px;
    margin: 110px 23px 24px;
}
.press__item:hover .press__item-name {
    transform: rotate(-90deg) translateX(64px) translateY(0);
    margin-top: auto;
    margin-right: 0;
    margin-left: 94px;
    margin-bottom: auto;
}
.press__item:hover .press__item-link {
    top: 251px;
    margin: 0 47px 0;
    opacity: 1;
    transform: rotate(0);
    text-decoration-line: underline;
}
/* hover >> */
.press__text {
    width: 689px;
    font-weight: 400;
    font-size: 26px;
    line-height: 29px;
    text-align: center;
    color: #1E4844;
    margin: 0 auto 10px;
}
.press__span {
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    color: #1E4844;
}

/* Footer */
.footer {
    display: flex;
    height: 594px;
    background-image: url('../img/footer_bckg.svg');
}
.footer__navigation {
    display: flex;
    width: 480px;
}
.navigation__wrapper {
    display: flex;
    flex-direction: column;
    /* gap: 3px; */
    width: 229px;
    min-height: 355px;
    margin: 64px 187px 169px 65px;
}
.footer__links {
    display: flex;
    flex-direction: column;
    gap: 7.4px;
    width: 199px;
    height: 181px;
    font-size: 23px;
    line-height: 30px;
    color: #1E4844;
    margin: 0 151px 16px 0;
}
.footer__socials {
    display: flex;
    justify-content: space-between;
    width: 58px;
    height: 25px;
    margin-bottom: 31px;
}
.footer__social-icon {
    transition: transform .2s ease-in;
}
.footer__social-icon:hover {
    cursor: pointer;
    transform: scale(1.3);
}
.payment__systems {
    display: flex;
    place-items: center;
    width: 225px;
    height: 24px;
    margin-bottom: 70px;
}
.payment__system-icon {
    width: 38px;
    height: 24px;
    cursor: pointer;
    transition: transform 0.2s ease-in;
}
.payment__system-icon:hover {
    transform: scale(1.5);
}
.footer__copyright {
    font-size: 14px;
    line-height: 19px;
    color: #1E4844;
}
.footer__info {
    display: flex;
}
.footer__info-wrapper {
    display: flex;
    flex-direction: column;
    width: 844px;
    height: 465px;
    margin: 64.42px 51px 64.42px 65px;
}
.footer__subscribe {
    display: flex;
    flex-direction: column;
    width: 844px;
    height: 146px;
    margin-bottom: 229px;
}
.footer__subscribe-heading {
    font-weight: 400;
    font-size: 23px;
    line-height: 30px;
    color: #C2D8CC;
    margin-bottom: 16px;
}
.footer__subscribe-text {
    width: 779px;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
    margin-bottom: 22px;
}
.footer__subscribe-form {
    display: flex;
    justify-content: space-between;
    width: 844px;
    height: 36px;
    font-size: 16px;
    line-height: 21px;
}
.subscribe__input {
    min-width: 300px;
    background: #1E4844;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
    border-bottom: 2px solid #fff;
    outline: none;
}
.subscribe__input::placeholder {
    color: #fff;
}
.subscribe__input.email {
    margin-right: 3.84px;
}
.footer .button {
    width: 180px;
    height: 36px;
    border: 2px solid #FFFFFF;
    border-radius: 0px 50px 50px 0px;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    transition: all .2s ease-in;
}
.footer .button:hover {
    background: #fff;
    color: #1e4844;
}
.footer .button:active {
    transform: scale(.92);
}

.footer__disclaimer {
    display: flex;
    height: 90px;
    margin-bottom: 64.84px;
}
.disclaimer__heading {
    font-weight: 700;
    font-size: 23px;
    line-height: 30px;
    color: #1E4844;
    margin-right: 127px;
}
.disclaimer__content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 554px;
    height: 90px;
}
.disclaimer__text {
    font-size: 14px;
    line-height: 19px;
    color: #1E4844;
}

/* Popup - Signup */
.popup {
    width: 1440px;
    height: 100%;
    top: 0;
    align-items: center;
    position: fixed;
    display: flex;
    background: rgb(30, 33, 44, 0.75);
    z-index: 100;
    visibility: hidden;
    opacity: 0;
    transition: visibility .3s, opacity 0.3s linear;
}
.popup_opened {
    visibility: visible;
    opacity: 1;
}
.popup__container {
    position: relative;
    display: flex;
    flex-direction: column;
    place-items: center;
    margin: 0 auto;
    width: 486px;
    min-height: 461px;
    background-color: #fff;
    border: 1px solid #E5E8ED;
    box-shadow: 0px 60px 80px -20px rgba(30, 33, 44, 0.16), 0px 26px 24px -10px rgba(30, 33, 44, 0.1), 0px 12px 10px -6px rgba(30, 33, 44, 0.08), 0px 4px 4px -4px rgba(30, 33, 44, 0.05);
    border-radius: 30px;
}
.popup__title {
    width: 390px;
    font-weight: 700;
    font-size: 28px;
    line-height: 150%;
    text-align: center;
    color: #1E212C;
    margin: 48px 48px 24px;
}
.popup__close-button {
    position: absolute;
    top: 28px;
    right: 28px;
    width: 16px;
    height: 16px;
    transition: all 0.5s ease-in;
}
.popup__close-button:hover {
    cursor: pointer;
    transform: rotate(360deg);
}
.form.form-signup {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 390px;
    height: 166px;
    margin: 0 48px;
}
.form__set {
    display: flex;
    flex-direction: column;
    width: 390px;
    height: 73px;
}
.form__label {
    font-size: 14px;
    line-height: 150%;
    color: #424551;
    margin-bottom: 8px;
}
.form__input {
    width: 390px;
    height: 44px;
    background: #F4F5F7;
    border: 1px solid #D7DADD;
    border-radius: 4px;
    outline: none;
    padding: 12px;
}
.form__input::placeholder {
    height: 21px;
    font-size: 14px;
    line-height: 150%;
    color: #7a7c84;
}
.form__submit-button {
    width: 390px;
    height: 44px;
    background: #1E4844;
    border-radius: 4px;
    font-weight: 700;
    font-size: 14px;
    line-height: 44px;
    text-align: center;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 28px auto 48px;
    transition: 1s ease;
}
.form__submit-button:hover {
    border-radius: 2px;
    cursor: pointer;
    opacity: 0.6;
}